extends layout

block content

form(action="")
    label(for="") Name
    input(type="text" name="name")
    label(for="") logo
    input(type="url" name="logo")
    label(for="") Desc
    input(type="textarea" name="desc")
    label(for="") Shoes
    input(type="" name="shoes")
    button() Submit