extends layout

block content
  h1 #{title}

  h3 Dynamic content
  
  if error
    p Error getting dynamic content.
  else 

  ul
    //- shoe_list.sort(function(a,b))
    each shoe in shoe_list
      li
        a(href=shoe.url) #{shoe.image}
        |   (#{shoe.name})
    else
      li There are no shoes