extends layout

block content

form(action="")
    label(for="") Name
    input(type="text" name="name")
    label(for="") Brand
    input(type="radio" name="brand")
    label(for="") Image
    input(type="url" name="image")
    label(for="") Description
    input(type="textarea" name="desc")
    button(id="submit") Submit